<!DOCTYPE html>
<html>
<head>
    <title>Game Bulletin Board</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    {% block header %}
        <header>
            <h1>Welcome to the Game Bulletin Board</h1>
        </header>
    {% endblock %}
    {% block content %}
    <main>


    </main>
    {% endblock %}
    <footer>
        <p>© 2024 Game Bulletin Board Inc. </p>
    </footer>
</body>
</html>
