<!-- ad_detail.html -->
{% extends 'index.html' %}
{% load static %}

{% block content %}
  <h2>{{ ad.title }}</h2>
  <p>{{ ad.ad_text|safe }}</p>
  {% for media_file in ad.media_files.all %}
    {% if media_file.media_file %}
      <img src="{{ media_file.media_file.url }}" alt="Media file" width="100" height="100">
      <br>
      <br>
    {% else %}
      <p>No media file for this ad.</p>
      <br>
      <br>
    {% endif %}
  {% empty %}
    <p>No media files for this ad.</p>
  {% endfor %}
{% endblock %}
