<!-- ad_detail.html -->
{% extends 'index.html' %}
{% load static %}

{% block content %}
  <h2>{{ ad.title }}</h2>
  <p>{{ ad.ad_text }}</p>
  {% if ad.picture %}
    <img src="{{ ad.picture.url }}" alt="Ad picture" width="100" height="100">
    <br> <!-- This adds a line break (space) after the image -->
    <br>
  {% else %}
    <p>No picture for this ad.</p>
    <br>
    <br>
  {% endif %}
  {% if ad.video_link %}
    <a href="{{ ad.video_link }}">Watch video</a>
  {% else %}
    <p>No video for this ad.</p>
  {% endif %}
{% endblock %}

