<!--ads.html-->
{% extends 'index.html' %}
{% load static %}

{% block content %}
  <h2>My Ads</h2>
  <form method="GET" action="{% url 'ads' %}">
    <select name="category">
        <option value="">--Select Category--</option>
        {% for category in categories %}
        <option value="{{ category.type_name }}">{{ category.type_name }}</option>
        {% endfor %}
    </select>
    <input type="date" name="date">
    <input type="submit" value="Search">
  </form>
  {% for ad in user_ads %}
    <div style="border:1px solid black; margin:10px; padding:10px;">
      <h3 style="display: inline;"><strong>{{ ad.title }}</strong></h3>
      <a style="margin-left:10px;" href="{% url 'edit_ad' ad.id %}">Edit</a>
      <a style="margin-left:10px;" href="{% url 'delete_ad' ad.id %}">Delete</a>
      <a href="{% url 'ad_detail' ad.id %}">Show more</a>
      <p>Category: {{ ad.ad_type.type_name }}</p>
      <p>Created at: {{ ad.created_at }}</p>
      <p>Ad text: {{ ad.ad_text|safe }}</p>
      <p>Number of reactions: {{ ad.adreactions_set.count }}</p>
    </div>
  {% empty %}
    <p>No ads yet.</p>
  {% endfor %}

<div style="text-align:center; margin-top:20px;">
  <form action="{% url 'create_ad' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Create a new ad" class="btn btn-primary" />
  </form>
</div>
{% endblock %}
