{% extends "index.html" %}
{% block content %}
<main>
    <h2>Contact Us</h2>
    <p>We'd love to hear from you! Whether you have a question about our games, need assistance with something, or just want to chat about the latest RPG strategies, we're all ears.</p>
    <h3>Game Bulletin Board Inc.</h3>
    <p>123 Chocobo Street, Midgar, Gaia</p>
    <p>Phone: 777-7777</p>
    <p>Email: support@gbbinc.ff7</p>
    <p>Office Hours: Whenever the Mako Reactor is running!</p>
    <p>Please note: We are located in the Shinra Building, 65th floor. Don't worry about the monsters, they're mostly harmless!</p>
</main>
{% endblock %}
