{% extends "index.html" %}
{% block content %}
<main>
    <h2>Reactions</h2>
    <div id="reactions">
        {% for reaction in reactions %}
        <div class="reaction-block">
            <p>{{ reaction.user.username }} reacted to your ad "{{ reaction.ad.title }}"</p>
            <button class="accept-button" data-reaction-id="{{ reaction.id }}">Accept</button>
            <button class="reject-button" data-reaction-id="{{ reaction.id }}">Reject</button>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
