{% extends 'index.html' %}

{% block content %}
    <h2>{{ user.username }}'s Profile</h2>
    <p>Date of Birth: {{ user.userprofile.date_of_birth }}</p>
    <p>Mobile Number: {{ user.userprofile.mobile_number }}</p>
    <p>Country: {{ user.userprofile.country.country_name }}</p>
    <p>Favorite Game Genre: {{ user.userprofile.fav_game_genre.genre_name }}</p>
    <p>Gaming Platform: {{ user.userprofile.gaming_platform.platform_name }}</p>
    <p>Biography: {{ user.userprofile.biography }}</p>
    <p>Communication Preference: {{ user.userprofile.get_communication_preference_display }}</p>
    {% if user.userprofile.profile_picture %}
        <img src="{{ user.userprofile.profile_picture.url }}" alt="{{ user.username }}'s profile picture">
    {% else %}
        <p>No profile picture.</p>
    {% endif %}
{% endblock %}
